@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	font-family: 'Amatic SC', cursive;
	font-size: 30;
	display: flex;
	justify-content: center;
    align-items: center;
    height: 100vh;
 }

h1{
	font-size: 5em;
	font-weight: 500;
	height: -20vh;
}

#display {
	font-size: 3.5em;
}

.button{
	font-size: 2em;
}
